

<!-- report_vmoodle/daily_cnxs -->

{{{filter}}}

{{{h1}}}

<div class="report-vmoodle-panel" id="panel1">
{{{t1}}}
</div>

{{{h2}}}

<div class="report-vmoodle-panel" id="panel2" style="display:none">
{{{t2}}}
</div>

{{{h3}}}

<div class="report-vmoodle-panel" id="panel3" style="display:none">
{{{t3}}}
</div>


<!-- /report_vmoodle/daily_cnxs -->