



<!-- fragmentusers -->
    <td class="cell">
        {{hostname}}
    </td>
    <td class="cell">
        {{{localusers}}}
    </td>
    <td class="cell">
        {{{remoteusers}}}
    </td>
    <td class="cell">
        {{{suspended}}}
    </td>
    {{#fields}}
        <td class="cell extrafields">{{{fieldvalue}}}</td>
    {{/fields}}
<!-- /fragmentusers -->
